<div id="commments">
<div class="comment-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-4">
          <h7> I.D.<%= comment.user_id %><h7>
        </div>
        </div>
         <div class="col-md-8">
          <%= comment.content %>
      </div>
    </div>
  </div>
</div>
</div>
