<footer class="text-muted">
  <div class="container">
<div class="backtop">
    <p class="float-right">
      <a href="#", class: "a-primary">Back to top</a>
    </p>
  </div>


    <%=  set_copyright  %>
  </div>
  </div>
</footer>
