<div class="app-card-container">
  <div class="card">
    <h1>About Us</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "luxmi.jpg", width: 250, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>A place to connect with our community for purposes of improving quility of life for all.</p>
      </div>
    </div>
  </div>
</div>
