<div class="app-card-container">
  <div class="card">
    <h1>About Us</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "luxmi.jpg", width: 250, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Ambala Jattan is a village founded over 300 years ago as an agrarian society. Located in the Hoshiarpur district of Punjab, where the mountains meet the plains, the land is fertile producing mangoes , sugar canes, oranges and numerous other crops. The village has produced numerous engineers, doctors, military personal and entrepreneurs  over the years that have had success all over the world. With our Ambala Jattan All Purpose Charitable Fund (AJAP) we work to uplift the community  in all aspects  so that youth can continue contribute the world in a positive way . Please feel free to contact us if you wish to participate in anyway to make our community more prosperous and creative.  </p>
      </div>
    </div>
  </div>
</div>
