
</div>
<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "4322386131" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75850.15347909865!2d-113.39402931773188!3d53.55210314207916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a0134249546cbd%3A0xe467d3d92d40e3e9!2sSherwood+Park%2C+AB%2C+Canada!5e0!3m2!1sen!2sin!4v1533661412156" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
