@import "bootstrap";
@import "jquery-ui";



.navbar {
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {

  font-weight: 900;
  font-family: fantasy,impact;
  font-stretch: extra-condensed;
  font-size: 55px;
  color: #b8860b
}

.index-header{
  font-family: Book Antiqua;
  text-align: center;
  font-weight: 900;
  font-size: 61px;
  color: #708090;
  font-stretch: extra-condensed;

}
.portfolio-title{

  font-weight: 500;
  font-family: Impact, fantasy;
  font-stretch: extra-condensed;
  color: #D2691E;
  font-style: oblique;
}

.jumbotron .container {
  max-width: 40rem;
}

.portfolio-subtitle {
  color:#00008B;
  font-weight: bold;
  font-style: Marker Felt, fantasy;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.portfolio-body{

}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 20px;
  font-family: Impact, fantasy

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */
 .portfolio-container {
  padding-top: 30px;
}
